extends layout


block content
  .row
    each l in locations
      .col-sm-3
        div(style="width: 18rem; height: 14rem;").card.mt-3
          img.card-img-top(src="#{l.imgUrl}" alt='Card image cap')
          .card-body
              h5.card-title= l.title
              p.card-text= l.desc
              .text-left
                a.btn.btn-info(href="/locations/#{l.id}") Learn More
    
