doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  body
    block navbar 
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        div.collapse.navbar-collapse
          a(href="index", target="_blank").navbar-brand 
            h1 Danger Zone
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a(href="#", target="_blank").nav-link About
            li.nav-item.active
              a(href="#", target="_blank").nav-link Theme
            li.nav-item.active
              a(href="/locations/new", target="_blank").nav-link Upload
    block content        



        footer
