extends layout

block content
  .row.mt-4
    .col-lg-6.offset-lg-3
      .card
        .card-body
          .card-title
            h3 Update Zone
          .card-text
            form(action='/locations/#{locations.id}?_method=PUT' method='post')
              {{> locations-form }}
            .text-right
              a.text-muted.mr-2(href='/locations/#{location.id}') Cancel
              button.btn.btn-primary(type='submit' name='button') Update
          form(action='/locations/#{location.id}?_method=DELETE' method='POST')
            button.btn.btn-danger(type='submit') Delete
