extends layout

block content
  form(id="", method="post", action="/locations")
    fieldset
      legend New Zone
      // TITLE
      p
        label(for='title') Name
        br
        input(type='text' name='title')
      p
        label(for='desc') Description
        br
        input(type='text' name='desc')
      p
        label(for='imgUrl') image link
        br
        input(type='text' name='imgUrl')  
    // BUTTON
    p
      button(type='submit') Save Zone
