extends layout


block content
  form(action='/login' method='post')
    fieldset
      legend Log into your account
      // Username
      p
        label(for='title') Username
        br
        input(type='text' name='title')
      p
        label(for='desc') Password
        br
        input(type='text' name='desc')
        // BUTTON
    p
      button(type='submit') Login
