extends layout


block content
  .row.mt-4
    .col-lg-6.offset-lg-3
      .card
        .card-body
          .card-title
            h3 Write your thoughts
            .lead
               Location: {{location.title}}
          .card-text
            form(action='/locations/#{locations.id}/reviews' method='post')
              .form-group
                label(for='title') 
                  h2 Name
                input.form-control(name='name' placeholder='Jane Doe')
              .form-group
                label(for='title') 
                  h4 Review
                textarea.form-control(name='review' rows='5')
              .form-group
                label(for='imgUrl') image Url here!
                br
                input(type='text' name='imgUrl')
              .text-right
                a.text-muted.mr-2(href='/') Cancel
                button.btn.btn-primary(type='submit' name='button') Save
