extends layout


block content
  form(action='/sign-up' method='post')
    fieldset
      legend Create an account
      // Email
      p
        label(for='email') Email
        br
        input(type='text' name='email')
      p
        label(for='password') Password
        br
        input(type='text' name='password')
  // BUTTON
    p
      button(type='submit') Sign up
